<h1>New Game</h1>

<div class="tiles">

  <% @letters.each do |letter| %>
     <p class="tilesp"><%= letter %></p>
  <% end %>

</div>

<p>What is the longest word you can find?</p>

<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters.join %>
  <input type="text" name="word">
  <input type="submit" value="Play">
</form>





